@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Oswald:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* @layer base {
  html {
    font-family: 'Playfair Display', serif;
  }
  .navbar-color {
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  }
}
@layer components {
  .navbar-color {
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  }
} */

@layer components {
  .btn-primary {
    @apply bg-gradient-to-tr from-cyan-300  to-indigo-400 flex items-center  font-medium tracking-wide text-white capitalize transition-all duration-300  py-4 px-10 text-center   lg:px-8 xl:px-10 hover:bg-gradient-to-tr hover:from-cyan-300 hover:to-teal-200 hover:shadow-md rounded-md;
  }
  .gradient-text {
    @apply font-medium bg-clip-text text-transparent bg-gradient-to-tr from-teal-500 via-cyan-300 to-slate-500;
  }

  .slick-slide > div {
    margin: 0 0.8rem;
  }
  .slick-dots {
    visibility: hidden;
  }

  .pic:hover .slick-dots {
    visibility: visible;
  }
}
